$lightGrey: #d0d1d3;
$grey: #8a8c91;
$darkGrey: #383c43;
$accent: #6e29f5;
$white: #ffffff;
$error: #d8501a;
$lightBlue: #2f69dd;

$space0: 4px;
$space1: 8px;
$space2: 16px;
$space3: 24px;

$maxContentWidth: 558px;
