@import '../../styles/variables';
@import '../../styles/screenSizes';

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../assets/images/background-nasa-unsplash.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: $space2;
}

.navigation {
  padding: $space2;
  width: calc(100%);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  background-color: $black;
}

.navbarLinks {
  display: flex;
  align-items: center;

  & > a {
    color: $white;
    text-decoration: none;
    margin-left: $space3;
    font-size: 16px;
  }

  @include tablet {
    display: none;
  }
}

.homeLink {
  color: $white;
  font-size: 24px;
  margin-right: auto;
}

.content {
  align-self: center;
  justify-content: center;
  overflow: scroll;
  max-width: $maxContentWidth;
  background-color: $white;
  border-radius: 10px;
  max-height: 80vh;
}
