@import '../../styles/variables';
@import '../../styles//screenSizes';

@keyframes expandFromCorner {
  0% {
    clip-path: circle(0% at 0% 100%);
  }
  100% {
    clip-path: circle(150%);
  }
}

.sidebar {
  position: relative;
  display: none;
  width: 24px;
  height: 24px;

  @include tablet {
    display: block;
  }
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    display: block;
    background-color: $white;
    height: 2px;
    width: 24px;
    border-radius: 1px;
    transition: all 0.3s;
    margin: 3px 0;
  }
}

.links {
  opacity: 0;
}

.expanded {
  .links {
    display: block;
    position: absolute;
    top: 50px;
    left: calc(-100vw + 24px + $space2);
    color: #fff;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: black;
    opacity: 1;
    transition: opacity 0.3s;
    padding: $space5 $space4;

    & > a {
      display: block;
      margin-bottom: $space3;
      color: $white;
      text-decoration: none;
      font-size: 16px;
    }
  }

  .burger {
    span {
      &:nth-child(1) {
        transform-origin: top left;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform-origin: bottom left;
        transform: rotate(-45deg);
      }
    }
  }
}
